@model OurShopK5.DataModels.DonHang

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiDonHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThaiDonHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KhachHang.MaKh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguoiNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChiGiaoHang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
